.notification__container {
  position: fixed;
  bottom: 0;
  left: 40%;
  color: white;
  background-color: black;
  padding: 5px;
  font-family: "Exodus Sans Bold";
  font-size: 1.5em;
  border-radius: 2px;
  display: flex;
  align-content: center;
  align-items: center;
  animation: 0.4s rollout;
}

.notification__container p {
  margin: 15px 5px;
}

.notification__container span {
  color: #ff4081;
  cursor: pointer;
}

@media (max-width: 480px) {
  .notification__container {
    left: 10%;
  }
}

@keyframes rollout {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
