.blog-post__title {
  color: var(--color-green-army);
  font-size: 25px;
  font-family: var(--font-bold);
  margin: 0;
}

.blog-post__container {
  display: flex;
  justify-content: space-between;
}

.blog-post__post-container {
  text-align: left;
}

.blog-post__preview-image {
  border-radius: 15px;
  width: 344px;
  height: 194px;
}

.blog-post__preview-text {
  margin-bottom: 10px;
}

.blog-post__button-container {
  border: 0.1115rem var(--color-green-army) solid;
  border-radius: 8px;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
