@font-face {
  font-family: "Exodus Sans Bold";
  src: url("/assets/fonts/EudoxusSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/EudoxusSans-Bold.woff") format("woff");
}

@font-face {
  font-family: system;
  font-style: normal;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* GLOBAL STYLES */

html {
  font-size: 16px;
  color: #fff;
  scroll-behavior: smooth;
  font-family: "Eudoxus Sans Bold";
}

h1,
h2 {
  letter-spacing: 1px;
}

:root {
  --font-bold: "Exodus Sans Bold";
  --color-light: #f3f4f6;
  --color-green-lightest: #fafffb;
  --color-green-mint: #d8f3dc;
  --color-green: #52b788;
  --color-green-army: #2d6a4f;
  --color-black: #021710;
  --color-blackest-black: #000000;
  --color-gray: #4f5d58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

section {
  scroll-behavior: smooth;
}

/* MATERIAL OVERRIDES */
.mdl-js-layout {
  scroll-behavior: smooth;
}
.mdl-layout__drawer-button {
  left: auto;
  right: 0;
  color: white;
}

.mdl-layout__drawer {
  background-color: var(--color-green-mint);
}

.mdl-layout__drawer .mdl-navigation {
  justify-content: space-evenly;
  height: 40%;
  margin-left: 20px;
}

.mdl-layout__drawer.is-visible a:link,
.mdl-layout__drawer.is-visible a:visited {
  font-size: 2em;
}

@media (max-width: 480px) {
  .mdl-layout__drawer-button {
    top: 2px;
  }

  .mdl-layout__drawer-button {
    right: 25px;
  }
}
