.request__form {
  width: 50%;
  margin: auto;
  text-align: left;
}

@media (max-width: 600px) {
  form {
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  form {
    width: 45%;
  }
}
