---
import OptinForm from "../../components/Forms/OptinForm"
import FunnelLayout from "../../layouts/FunnelLayout.astro";
---

<FunnelLayout>
  <div class="funnel-page__container">
    <div class="funnel-page__form-and-statement-container">

      <div class="funnel-page__statement-container">
        <img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image" alt="demo" />
        <div class="funnel-page__contact">
          <img src="https://api.randomuser.me/portraits/men/55.jpg" alt="demo" />
          <div class="funnel-page__contact-title">

            <h4>YOUR NAME, <span>JOB TITLE</span></h4>
            Authority statement about you related to the ultimate result headline (how many people you helped get this,
            when
            you got this the first time)
          </div>

        </div>


      </div>

      <div class="funnel-page__form-container">

        <h2>How to / how we [ULTIMATE RESULT HEADLINE]</h2>
        <h3>...and [Some important sub solutions] using [some important features]</h3>
        <OptinForm client:visible />
      </div>
    </div>
  </div>

  <!-- <div class="funnel-page__footer">Link to imprint</div> -->
</FunnelLayout>

<style>
  h3 {
    margin-top: 0;
    color: gray;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 0;
  }

  h4>span {
    font-weight: lighter;
  }

  .funnel-page__statement-container>img {
    width: 500px;
    aspect-ratio: auto 500 / 300;
    height: 300px;
  }


  .funnel-page__container {
    width: 80%;
    margin: auto;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 30%);
  }

  .funnel-page__form-and-statement-container {
    display: flex;

  }

  .funnel-page__form-and-statement-container>div {
    width: 50%;
    padding: 50px;
  }

  .funnel-page__statement-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .funnel-page__contact {
    display: flex;
    align-items: center;
  }

  .funnel-page__contact-title {
    margin-left: 15px;
  }

  .funnel-page__contact>img {
    border-radius: 50%;
    padding: 0px;
    /* max-width: 100%; */
    /* min-width: 0%; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
  }


  .funnel-page__footer {
    width: 50%;
    margin: auto;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 35px 0;
  }

  .funnel-page__form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 1500px) {
    .funnel-page__container {
      width: 100%
    }
  }

  @media (max-width: 1100px) {
    .funnel-page__form-and-statement-container {
      flex-direction: column-reverse;
    }

    .funnel-page__form-and-statement-container>div {
      width: 80%;
      margin: auto;
    }

    .funnel-page__statement-container {
      display: flex;
      align-items: center;
    }

    .funnel-page__contact {
      margin-top: 50px;
      align-items: flex-start;
    }
  }
</style>