---
import FunnelLayout from "../../layouts/FunnelLayout.astro";
import RequestForm from "../../components/Forms/RequestForm"
---

<FunnelLayout>
  <div class="request__container">
    <h2>The fast laane to ECOCONCEPTION</h2>
    <h3>Get hands on support</h3>

    <iframe
      src="https://www.youtube.com/embed/tf88GFLtj18?autoplay=0&controls=0&showinfo=0&title=0&rel=0&wmode=transparent" />

    <div class="request__feature-block-container">
      <h2>Here's the fastest way we've found for you to [WHAT YOU BUILD FOR or WITH THEM]</h2>
      <h3>If you work with us, we'll build all that for you</h3>

      <div class="request__feature-block-row">
        <div>
          <h4>Feature Name</h4>
          <p>Some feature details and benefits of this feature</p>
        </div>
        <div>
          <h4>Feature Name</h4>
          <p>Some feature details and benefits of this feature</p>
        </div>
      </div>

      <div class="request__feature-block-row">
        <div>
          <h4>Feature Name</h4>
          <p>Some feature details and benefits of this feature</p>
        </div>
        <div>
          <h4>Feature Name</h4>
          <p>Some feature details and benefits of this feature</p>
        </div>
      </div>

      <div class="request__feature-block-row">
        <div>
          <h4>Feature Name</h4>
          <p>Some feature details and benefits of this feature</p>
        </div>
        <div>
          <h4>Feature Name</h4>
          <p>Some feature details and benefits of this feature</p>
        </div>
      </div>
      <hr />

      <div class="request__image-testmonials">
        <img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image" alt="demo" />
        <div>Client statement</div>
      </div>
      <div class="request__image-testmonials">
        <div>Client statement</div><img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image"
          alt="demo" />
      </div>
    </div>
    <div class="request__feature-block-container">
      <h2>And here's how we walk you throught the entire implementatin</h2>
      <h3>This process is designed to give you [Benefits like transparency, security, personal contact] for your [what
        you
        build like a website, campaign, software, specific use case]</h3>

      <div class="request__feature-block-row">
        <div>
          <h4>Step 1)</h4>
          <p>
            Describe the step including benfits of this step
          </p>
        </div>
        <div>
          <h4>Step 2)</h4>
          <p>
            Describe the step including benfits of this step
          </p>
        </div>
      </div>

      <div class="request__feature-block-row">
        <div>
          <h4>Step 3)</h4>
          <p>
            Describe the step including benfits of this step
          </p>
        </div>
        <div>
          <h4>Step 4)</h4>
          <p>
            Describe the step including benfits of this step
          </p>
        </div>
      </div>

      <hr />

      <div class="request__image-testmonials">
        <img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image" alt="demo" />
        <div>Client statement</div>
      </div>
      <div class="request__image-testmonials">
        <div>Client statement</div><img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image"
          alt="demo" />
      </div>
    </div>

    <h2>Frequently Asked Question</h2>
    <div class="request__faq-questions-containers">
      <div>

        <h4>Put a Frequently Asked Question Here</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur velit quia temporibus et esse, recusandae
          error illo quam praesentium eius tempora consequatur magnam quibusdam ducimus nemo, ab optio cumque quod.
          Labore
          ipsam quisquam dolorem.</p>
      </div>
      <div>

        <h4>Put a Frequently Asked Question Here</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur velit quia temporibus et esse, recusandae
          error illo quam praesentium eius tempora consequatur magnam quibusdam ducimus nemo, ab optio cumque quod.
          Labore
          ipsam quisquam dolorem.</p>
      </div>
      <div>

        <h4>Put a Frequently Asked Question Here</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur velit quia temporibus et esse, recusandae
          error illo quam praesentium eius tempora consequatur magnam quibusdam ducimus nemo, ab optio cumque quod.
          Labore
          ipsam quisquam dolorem.</p>
      </div>
      <div>

        <h4>Put a Frequently Asked Question Here</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur velit quia temporibus et esse, recusandae
          error illo quam praesentium eius tempora consequatur magnam quibusdam ducimus nemo, ab optio cumque quod.
          Labore
          ipsam quisquam dolorem.</p>
      </div>
      <hr />
    </div>
    <div>
      <h2>Request your FREE [Strategy session, project planning session, discovery session, etc.]</h2>
      <h3>In a personal session we'll analyse your current situation and create a [Strategy, project plan, estimation
        etc] for your [What they want to build, like: Website, App, Funnel etc.].
        <div><u>Just fill the form below and we'll get back to you with concrete next steps</u></div>
      </h3>
      <RequestForm client:visible />
    </div>
    <div>
      <h2>See what more clients working with us say</h2>
      <div class="request__image-testmonials">
        <img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image" alt="demo" />
        <div>Client statement</div>
      </div>
      <div class="request__image-testmonials">
        <img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image" alt="demo" />
        <div>Client statement</div>
      </div>
      <div class="request__image-testmonials">
        <img src="https://via.placeholder.com/350x150/e1e5e6/6d7b8b?text=Demo+Image" alt="demo" />
        <div>Client statement</div>
      </div>
    </div>
    <div class="request__privacy-policy-link">LINK TO IMPRINT</div>




  </div>
</FunnelLayout>

<style>
  hr {
    margin-top: 50px;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-weight: lighter;
  }

  iframe {
    width: 1000px;
    height: 568px;
  }

  .request__container {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .request__feature-block-row {
    display: flex;
    justify-content: space-around;
  }

  .request__feature-block-container {

    margin-bottom: 50px;
  }

  .request__faq-questions-containers {
    text-align: left;
  }

  .request__faq-questions-containers p {
    font-weight: lighter;

  }

  .request__image-testmonials {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  .request__privacy-policy-link {
    padding: 50px 0;
    font-size: 0.8rem;
  }
</style>