.carousel-tetimonials__container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}

.carousel-testimonials__referer-card p {
  margin-bottom: 0;
}

.carousel-testimonials__referer-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  width: 300px;
  padding: 10px;
}

.carousel-testimonials__referer-img-container {
  width: 72px;
  height: 72px;
  /* background-color: white; */
  margin-right: 15px;
}

.carousel-testimonials__referer-img-container img {
  border-radius: 50%;
}

/* .carousel-testimonials__referer-img-container p:first-child {
  font-size: 1.14em;
} */

.carousel-testimonials__referral-container {
  display: block;
  opacity: 1;
  width: 47%;
  /* font-size: 1.1em; */
  line-height: 1.5;
  animation: fadeInFromNone 0.5s ease-out;
}

.carousel-testimonials__referral-text-container {
  display: flex;
}

.carousel-testimonials__referral-text-container div:last-child {
  align-self: flex-end;
}

.carousel-testimonials__referer-card-refferer-position--small-text {
  font-size: 0.9em;
}

.carousel-testimonials__referral-text-container p {
  padding-left: 20px;
  align-self: center;
}

.carousel-testimonials__referral-quotes-container i {
  color: #8080808c;
}

.carousel-testimonials__referral-container h2 {
  margin-top: 0px;
  font-family: 'Exodus Sans Bold';
  font-size: 1.5em;
}

/* .carousel-testimonials__referers-container {
  width: 16%;
} */

.selected {
  background-color: white;
  border-radius: 5px;
}

.carousel-testimonials__project-image {
  width: 16%;
}
.carousel-testimonials__project-image img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

@media (max-width: 480px) {
  .carousel-tetimonials__container-row {
    flex-direction: column;
  }
  .carousel-testimonials__referral-container {
    width: 100%;
  }

  .carousel-testimonials__referer-card {
    width: 88%;
  }

  .carousel-testimonials__project-image {
    width: 80%;
    margin: 30px auto 0 auto;
  }
}

/* FADEINT */

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
