.navbar__desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: transparent;
  width: 80%;
  margin: auto;
  right: 0;
  left: 0;
  top: 20px;
  height: 64px;
}

.navbar__desktop-menu--inverted {
  color: var(--color-black);
}

.navbar__text-links-block a {
  margin-left: 100px;
}

.navbar__desktop-menu--inverted .navbar__links-container--highlight {
  border: 2px solid var(--color-green-army);
}

.navbar__desktop-menu--vertical-center {
  top: 35px;
}

.navbar__links-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navbar__content {
  position: absolute;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  padding-top: 47px;
}
.mdl-layout__header-row {
  padding: 0;
}

.navbar__menu-items-container {
  font-size: 1.1rem;
  font-weight: 700;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navbar__menu-items-container a {
  padding: 10px;
}

.navbar__desktop-menu img {
  height: 24px;
}
a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
  font-family: 'Exodus Sans Bold';
  font-size: 16px;
}
.navbar__links-container--highlight {
  border: 2px solid var(--color-green-lightest);
  border-radius: 5px;
  padding: 7px;
}

/** MOOBILE MENU **/
.navbar__side-menu-icon {
  cursor: pointer;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .navbar__desktop-menu--vertical-center {
    top: 20px;
  }
}
