<section id="about" class="about__background">
  <div class="about__content-container">
    <h1>About Us</h1>
    <p>
      We believe that everyone has a role to play against <b>climate change</b>, and
      that the development of digital products must be part of the
      fight for a more <b>sustainable future</b>.
    </p>
    <p>
      While digital products can have a positive impact on the world, we
      recognise that it can be part of the problem. 4% of global
      emissions come from tech and that number is predicted to
      <b>double by 2025</b>.
    </p>
    <p class="about__content--green-text">
      We seek impact by creating eco-conceived software products.
    </p>

    <p>
      We’ve helped everyone from early-stage startups to
      large corporations build products that are <b>responsible, beautiful,
      and easy to use</b>.
    </p>
  </div>
</section>

<style>
  .about__background {
    background-color: var(--color-green-mint);
    display: flex;
    align-items: center;
    color: black;
    padding: 100px 0;
  }
  .about__content-container {
    width: 40%;
    margin: auto;
    text-align: center;
  }

  .about__content--green-text {
    font-size: 1.5em;
    color: var(--color-green-army);
    font-weight: bold;
    margin: 50px 0;
    font-family: "Exodus Sans Bold";
    line-height: 1.1;
  }

  h1 {
    font-family: "Exodus Sans Bold";
    margin-bottom: 15px;
  }

  p {
    font-size: 1.15em;
  }
  @media (max-width: 480px) {
    h1 {
      /* font-size: 2.1em; */
      width: 95%;
    }

    /* p {
      font-size: 1.1rem;
    } */

    .about__background {
      padding: 50px 0;
    }
    .about__content-container {
      width: 80%;
    }
  }
</style>
