<section id="about-section" class="about-section__background">
  <div class="about-section__content-container">
    <h1>About Us</h1>
    <p>
      I'm baby craft beer +1 tacos, <b>ashion axe bicycle rights fixie</b>f
      succulents swag yuccie man bun cold-pressed. Pop-up banjo knausgaard,
      cold-pressed schlitz raclette normcore poutine. Pour-over enamel pin
      typewriter forage farm-to-table la croix. Vinyl pickled before they sold
      out hot chicken, normcore iPhone four dollar toast franzen woke
      farm-to-table organic gentrify 8-bit beard.
    </p>
    <p>
      Kickstarter cronut glossier cloud bread <b>utcher retro </b>sartorial palo
      santo brunch kombucha live-edge occupy microdosing bramps literally.
      Crucifix gentrify bicycle rights typewriter,
    </p>
    <p class="about-section__content--green-text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.
    </p>
    <p>
      Irony jean shorts biodiesel disrupt jianbing tumblr master cleanse hella
      marfa hashtag leggings. Pabst hot chicken kale chips fanny pack ethical
      kinfolk.
    </p>
  </div>
</section>

<style>
  .about-section__background {
    background-color: var(--color-green-mint);
    display: flex;
    align-items: center;
    color: black;
    padding: 100px 0;
  }
  .about-section__content-container {
    width: 40%;
    margin: auto;
    text-align: center;
  }

  .about-section__content--green-text {
    font-size: 2.5em;
    color: var(--color-green-army);
    font-weight: bold;
    margin: 50px 0;
  }
</style>
