<section id="about" class="about__background">
  <div class="about__content-container">
    <h1>The Why</h1>
    <p>
      We believe that everyone has a role to play in the fight to protect the planet, that we are especially poised as
      developers and creators of digital products to act today.
    </p>
    <p class="about__content--green-text">
      Enverse Labs is a software studio that sits at the intersection of product, tech and climate action.
    </p>
    <p>
      We exist because we know eco conceived applications don’t just minimize their impact on the environment: they are
      faster, consume less resources and are more resilient.
    </p>
  </div>
</section>

<style>
  .about__background {
    background-color: var(--color-green-mint);
    display: flex;
    align-items: center;
    color: black;
    padding: 100px 0;
  }

  .about__content-container {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .about__content--green-text {
    font-size: 1.5em;
    color: var(--color-green-army);
    font-weight: bold;
    margin: 50px 0;
    font-family: "Exodus Sans Bold";
    line-height: 1.1;
  }

  h1 {
    font-family: "Exodus Sans Bold";
    margin-bottom: 30px;
  }


  @media (max-width: 480px) {
    h1 {
      /* font-size: 2.1em; */
      width: 95%;
    }

    /* p {
      font-size: 1.1rem;
    } */

    .about__background {
      padding: 50px 0;
    }

    .about__content-container {
      width: 80%;
    }
  }
</style>