<section id="about" class="about__background">
  <div class="about__content-container">
    <h1>About Us</h1>
    <p>
      I'm baby craft beer +1 tacos, <b>ashion axe bicycle rights fixie</b>f
      succulents swag yuccie man bun cold-pressed. Pop-up banjo knausgaard,
      cold-pressed schlitz raclette normcore poutine. Pour-over enamel pin
      typewriter forage farm-to-table la croix. Vinyl pickled before they sold
      out hot chicken, normcore iPhone four dollar toast franzen woke
      farm-to-table organic gentrify 8-bit beard.
    </p>
    <p>
      Kickstarter cronut glossier cloud bread <b>utcher retro </b>sartorial palo
      santo brunch kombucha live-edge occupy microdosing bramps literally.
      Crucifix gentrify bicycle rights typewriter,
    </p>
    <p class="about__content--green-text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.
    </p>
    <p>
      Irony jean shorts biodiesel disrupt jianbing tumblr master cleanse hella
      marfa hashtag leggings. Pabst hot chicken kale chips fanny pack ethical
      kinfolk.
    </p>
  </div>
</section>

<style>
  .about__background {
    background-color: var(--color-green-mint);
    display: flex;
    align-items: center;
    color: black;
    padding: 100px 0;
  }
  .about__content-container {
    width: 40%;
    margin: auto;
    text-align: center;
  }

  .about__content--green-text {
    font-size: 2.5em;
    color: var(--color-green-army);
    font-weight: bold;
    margin: 50px 0;
    font-family: "Exodus Sans Bold";
    line-height: 1.1;
  }

  h1 {
    font-family: "Exodus Sans Bold";
    margin-bottom: 15px;
  }

  p {
    font-family: "Exodus Sans";
  }
  @media (max-width: 480px) {
    h1 {
      font-size: 3.5em;
      width: 95%;
    }

    .about__background {
      padding: 50px 0;
    }
    .about__content-container {
      width: 80%;
    }
  }
</style>
