<section id="blog" class="blog__background">
  <div class="blog__content-container">
    <h1>Low Tech Mag</h1>
    <p>Coming soon ...</p>
  </div>
</section>

<style>
  .blog__background {
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    color: black;
  }
  .blog__content-container {
    width: 40%;
    margin: auto;
    text-align: center;
  }
  p {
    font-size: 2em;
  }
</style>
