<section id="blog" class="blog__background">
  <div class="blog__content-container">
    <h1>Enverse Blog and News</h1>
    <p>Coming soon ...</p>
  </div>
</section>

<style>
  .blog__background {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    color: black;
  }
  .blog__content-container {
    width: 40%;
    margin: auto;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 2em;
    font-family: "system";
    margin-top: 15px;
  }

  h1 {
    font-family: "Exodus Sans Bold";
    font-size: 3.1em;
  }

  @media (max-width: 480px) {
    .blog__content-container {
      width: 80%;
    }

    h1 {
      font-size: 2.1em;
      margin-bottom: 35px;
    }

    p {
      font-size: 1.3em;
    }
  }
</style>
