---
import SignupForm from "./SignupForm/index.tsx";
---

<section id="blog" class="blog__background">
  <div class="blog__content-container">
    <h1>Green Dev Mag</h1>
    <p>Coming soon ...</p>
    <p>Sign up to find out when we go live !!</p>
    <SignupForm client:visible />
  </div>
</section>

<style>
  .blog__background {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    color: black;
  }
  .blog__content-container {
    width: 40%;
    margin: auto;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 2em;
    font-family: "Exodus Sans";
  }

  h1 {
    font-family: "Exodus Sans Bold";
    font-size: 4.1em;
  }
</style>
