---
import ContactForm from "./ContactForm/index.tsx";
---

<section id="contact" class="contact-section-background">
  <div class="contact__content">
    <div class="contact__container">
      <div class="contact__title-container">
        <h1>Contact Us</h1>
        <p>
          Tell us about your product, your timeline, how you heard about us, and
          where you're located. We can't wait to hear from you.
        </p>
      </div>
      <ContactForm client:visible />
    </div>
  </div>
</section>

<style>
  .contact-section-background {
    background-image: url("/assets/image/contact-background.webp");
    padding: 100px 0px;
    color: black;
  }
  .contact__content {
    width: 80%;
    margin: auto;
  }

  h1 {
    font-size: 5.3125em;
    margin: 0;
    width: 648px;
    font-family: "Exodus Sans Bold";
  }

  .contact__container {
    display: flex;
    flex-direction: row;
  }

  .contact__title-container {
    width: 50%;
  }

  .contact__title-container p {
    width: 449px;
    font-size: 1.1rem;
  }

  @media (max-width: 480px) {
    form {
      width: 82%;
      margin: auto;
    }

    .contact__container {
      flex-direction: column;
      text-align: center;
    }

    h1 {
      font-size: 2.2em;
      width: 300px;
      margin-bottom: 15px;
    }

    .contact__title-container p {
      width: 300px;
      font-size: 1em;
      line-height: 1.2;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .contact__container {
      justify-content: space-between;
    }

    .contact__title-container {
      width: 45%;
    }
  }
</style>
