---
import Logo from "/static/assets/image/logo-green-white-text.svg";
---

<footer>
  <div class="footer__container">
    <div class="footer__social-links-row">
      <a href="#intro">
        <img alt="navbar-enverse-logo" width="147" height="24" src={Logo} />
      </a>
      <div class="footer__social-links-legal-block">
        <div class="footer__social-links-legal-block--small-text">Mentions Légales</div>
        <div class="footer__vertical-line"></div>
        <div class="footer__social-links-block">
          <a href="https://github.com/enverse"><i class="icon-github"></i></a>
          <a href="https://www.facebook.com/enverselabs"><i class="icon-facebook"></i></a>
          <a href="https://www.linkedin.com/company/enverse-labs"><i class="icon-linkedin"></i></a>
          <a href="https://www.instagram.com/enverselabs"><i class="icon-instagram"></i></a>
          <a href="mailto:chris@enverselabs.com"><i class="icon-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="footer__copyright-row">
      <p>Copyright Enverse Labs SAS 2021</p>
      <p></p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: black;
    /* height: 184px; */
    padding-top: 67px;
    color: white;
  }

  i {
    color: white;
  }

  i:hover {
    color: var(--color-green);
  }

  img {
    width: 164px;
  }

  .footer__container {
    width: 80%;
    margin: auto;
  }

  .footer__social-links-row {
    display: flex;
    justify-content: space-between;
  }

  .footer__copyright-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-gray);
    margin-top: 100px;
  }

  .footer__copyright-row p {
    margin-top: 15px;
  }

  .footer__vertical-line {
    border-left: 1px solid white;
    height: 33px;
  }

  .footer__social-links-legal-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.2em; */
  }

  .footer__social-links-legal-block a {
    margin-left: 15px
  }

  .footer__social-links-legal-block--small-text {
    font-size: 0.8em;
    margin-right: 15px;
  }

  .footer__social-links-block {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 480px) {
    .footer__copyright-row {
      margin-top: 5px;
      padding-top: 5px;
    }

    .footer__copyright-row p {
      font-size: 0.7em;
    }

    .footer__social-links-row {
      flex-direction: column;
      align-items: center;
    }

    .footer__social-links-legal-block {
      width: 100%;
      flex-direction: column;
      margin-bottom: 50px;
    }

    .footer__social-links-legal-block--small-text {
      margin-right: 0;
    }

    .footer__social-links-legal-block div:last-child {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      margin-top: 50px;
    }

    img {
      /* width: initial; */
      margin-bottom: 50px;
    }

    .footer__vertical-line {
      display: none;
    }
  }
</style>