---
import Logo from "/assets/image/logo.png";
---

<footer>
  <div class="footer__container">
    <div class="footer__social-links-row">
      <img src={Logo} />
      <div class="footer__social-links-block">
        <div>Mentions Légales</div>
        <div class="footer__vertical-line"></div>
        <a href="https://google.com"><i class="fab fa-twitter"></i></a>
        <a href="https://google.com"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://google.com"><i class="fab fa-facebook-f"></i></a>
        <a href="https://google.com"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer__copyright-row">
      <p>Copyright Enverse Labs SAS 2021</p>
      <p>Designed by HAAAKOUN</p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: black;
    height: 184px;
    padding-top: 67px;
    color: white;
  }

  i {
    color: white;
  }

  i:hover {
    color: var(--color-green);
  }

  img {
    width: 164px;
  }

  .footer__container {
    width: 80%;
    margin: auto;
  }

  .footer__social-links-row {
    display: flex;
    justify-content: space-between;
  }

  .footer__copyright-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-gray);
    margin-top: 100px;
  }

  .footer__vertical-line {
    border-left: 1px solid white;
    height: 33px;
  }

  .footer__social-links-block {
    display: flex;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    font-size: 1.2em;
  }

  @media (max-width: 480px) {
    .footer__copyright-row {
      margin-top: 5px;
    }
    .footer__social-links-row {
      flex-direction: column;
    }

    .footer__social-links-block {
      width: 100%;
    }

    img {
      width: initial;
      margin-bottom: 50px;
    }
  }
</style>
