<section id="intro-section" class="intro__section-background">
  <div class="content">
    <h1>Eco-Conceived Software</h1>
  </div>
</section>

<style>
  .intro__section-background {
    height: 100vh;
    background-image: url("/assets/home-background.jpg");
    display: flex;
    align-items: center;
  }
  .content {
    width: 80%;
    margin: auto;
  }

  h1 {
    font-size: 5.3125em;
    margin: 0;
    width: 648px;
    color: white;
  }
</style>
