---
import HeretiqueLogo from "/static/assets/image/heretique-logo.png";
import SociousLogo from "/static/assets/image/socious-logo.png";
import UnopsLogo from "/static/assets/image/unops-logo.svg";
---

<section id="intro" class="intro-background">
  <div class="intro__content">
    <h1>
      Eco-Conceived Software for <span
        class="intro-background__intro-content--underlined">Impact</span
      >
    </h1>
    <div class="intro__client-logos-container">
      <a href="https://www.heretique.fr/" target="_blank">
        <img src={HeretiqueLogo} />
      </a>
      <a href="https://www.socious.io/" target="_blank">
        <img src={SociousLogo} />
      </a>
      <a href="https://www.unops.org/" target="_blank">
        <img src={UnopsLogo} />
      </a>
    </div>
  </div>

  <a href="#about" class="intro__scroll-icons-container">
    scroll
    <span class="material-icons-outlined"> mouse </span>
    <span class="material-icons-outlined"> south </span>
  </a>
</section>

<style>
  .intro-background {
    background-image: url("/static/assets/image/home-background.webp");
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }
  .intro__content {
    width: 80%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-background__intro-content--underlined {
    border-bottom: 4px solid;
  }
  a:link,
  a:visited {
    text-decoration: inherit;
  }

  .intro__client-logos-container img {
    height: 26px;
    width: auto;
    margin-right: 15px;
  }

  .intro__client-logos-container {
    margin-top: 45px;
  }

  h1 {
    font-size: 4.5em;
    margin: 0;
    width: 768px;
    color: white;
    font-family: "Exodus Sans Bold";
  }

  section {
    padding: 100px 0;
  }

  .intro__scroll-icons-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 3.1em;
      width: 95%;
    }
    .intro__client-logos-container img {
      height: 20px;
      margin-right: 5px;
    }
  }
</style>
