<div class="navbar__desktop-menu">
  <a href="#intro"><img src="assets/logo.png" /></a>
</div>
<header
  class="navbar__desktop-menu mdl-layout__header mdl-layout__header--transparent"
>
  <div class="mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a href="#about">About Us</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <nav class="mdl-navigation">
    <a href="#about">About Us</a>
    <a href="#testimonials">Testimonials</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
  </nav>
</div>

<style>
  .navbar__desktop-menu {
    position: absolute;
    background-color: transparent;
    padding: 17px 33px;
  }

  .navbar__content {
    position: absolute;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 47px;
  }

  .navbar__menu-items-container {
    font-size: 1.2em;
    font-weight: 700;
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .navbar__menu-items-container a {
    padding: 10px;
  }

  .navbar__menu-items-container a:last-child {
    border: 2px solid #fafffb;
    border-radius: 8px;
  }

  img {
    height: 2em;
  }
  a:link,
  a:visited {
    text-decoration: inherit;
    color: inherit;
  }

  .mdl-layout__drawer-button {
    left: auto;
    right: 0;
  }
</style>
