---
import Logo from "/assets/image/logo.png";
---

<div class="navbar__desktop-menu navbar__desktop-menu--vertical-center">
  <a href="#intro"><img src={Logo} /></a>
</div>
<header
  class="navbar__desktop-menu mdl-layout__header mdl-layout__header--transparent"
>
  <div class="mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation navbar__links-container">
      <a href="#about">About Us</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <nav class="mdl-navigation">
    <a href="#about">About Us</a>
    <a href="#testimonials">Testimonials</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
  </nav>
</div>

<style>
  .navbar__desktop-menu {
    position: absolute;
    background-color: transparent;
    width: 80%;
    margin: auto;
    right: 0;
    left: 0;
    top: 20px;
  }

  .navbar__desktop-menu--vertical-center {
    top: 35px;
  }

  .navbar__links-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .navbar__content {
    position: absolute;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 47px;
  }
  .mdl-layout__header-row {
    padding: 0;
  }

  .navbar__menu-items-container {
    font-size: 1.1rem;
    font-weight: 700;
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .navbar__menu-items-container a {
    padding: 10px;
  }

  img {
    height: 24px;
  }
  a:link,
  a:visited {
    text-decoration: inherit;
    color: inherit;
    font-family: "Exodus Sans Bold";
    font-size: 16px;
  }
  .navbar__links-container a:last-child {
    border: 2px solid var(--color-green-lightest);
    border-radius: 5px;
    padding: 7px;
  }

  @media (max-width: 480px) {
    .navbar__desktop-menu--vertical-center {
      top: 20px;
    }
  }
</style>
