---
import Carrousel from "./Carrousel/index.tsx";
---

<section id="testimonials">
  <div class="testimonials__icons-row">
    <div class="testimonials__icons-content-container">
      <div class="testimonials__icons-content">
        <i class="fas fa-leaf"></i>
        <h2>For the Planet</h2>
        <p>We build carbon-efficient applications.</p>
      </div>
      <div class="testimonials__icons-content">
        <i class="fas fa-layer-group"></i>
        <h2>Modern & Minimalistic</h2>
        <p>UX and Design is at the heart of our product</p>
      </div>
      <div class="testimonials__icons-content">
        <i class="fas fa-rocket"></i>
        <h2>Powerful</h2>
        <p>Lightning fast, and powerful apps</p>
      </div>
    </div>
  </div>
  <div class="testimonials__testimonials-row">
    <div class="testimonials__testimonials-content">
      <h1>What They Say</h1>
      <div class="testimonials__testimonials-content-subtitle">
        Here's what our clients have to say <br> about our
        <span class="testimonials__referals-subtitle--bold"
          >proven track record</span
        >
      </div>
      <Carrousel client:visible />
    </div>
  </div>
</section>

<style>
  .testimonials__icons-row {
    background-color: var(--color-green);
    padding: 100px 0px;
  }

  .testimonials__icons-content-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .testimonials__icons-content-container p {
    font-size: 1.1rem
  }

  .testimonials__icons-content {
    display: flex;
    flex-direction: column;
  }

  .carousel-testimonials__referral-text-container p {
    font-size: 1.2em;
  }

  .testimonials__testimonials-row {
    background-color: var(--color-green-mint);
  }
  .testimonials__testimonials-content {
    padding: 85px 0;
    color: black;
    width: 80%;
    margin: auto;
  }

  .testimonials__testimonials-content-subtitle {
    margin-top: 15px;
    width: 40%;
    font-size: 1.1rem;
  }

  .testimonials__referals-subtitle--bold {
    font-family: "Exodus Sans Bold";
  }
  h2,
  h1 {
    font-family: "Exodus Sans Bold";
  }

  h1 {
    font-size: 4.1em;
  }

  i {
    font-size: 2.5em;
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 2em;
      text-align: center;
    }

    .testimonials__icons-row {
      padding: 54px 0;
    }
    .testimonials__icons-content-container {
      flex-direction: column;
    }

    .testimonials__testimonials-content-subtitle {
      width: 100%;
      text-align: center;
    }

    .carousel-testimonials__referer-card {
      width: 88%;
    }

    i {
      font-size: 2em;
    }

    h2 {
      margin: 0;
    }

    .testimonials__icons-content:not(:last-child) {
      margin-bottom: 40px;
    }

    .testimonials__icons-content p {
      font-size: 1.2em;
    }
  }
</style>
