---
import Carrousel from "./Carrousel/index.jsx";
---

<section id="testimonials">
  <div class="testimonials__icons-row">
    <div class="testimonials__icons-content-container">
      <div class="testimonials__icons-content">
        <i class="fas fa-leaf"></i>
        <h2>0% Carbone</h2>
        <p>
          Irony jean shorts biodiesel disrupt jianbing tumblr master cleanse
          hella
        </p>
      </div>
      <div class="testimonials__icons-content">
        <i class="far fa-smile"></i>
        <h2>Friendly</h2>
        <p>
          marfa hashtag leggings. Pabst hot chicken kale chips fanny pack
          ethical
        </p>
      </div>
      <div class="testimonials__icons-content">
        <i class="fas fa-rocket"></i>
        <h2>Boost your business</h2>
        <p>
          marfa hashtag leggings. Pabst hot chicken kale chips fanny pack
          ethical.
        </p>
      </div>
    </div>
  </div>
  <div class="testimonials__testimonials-row">
    <div class="testimonials__testimonials-content">
      <h1>What They Say</h1>
      <Carrousel client:visible />
    </div>
  </div>
</section>

<style>
  .testimonials__icons-row {
    background-color: var(--color-green);
    padding: 100px 0px;
  }

  .testimonials__icons-content-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .testimonials__icons-content {
    display: flex;
    flex-direction: column;
  }

  .testimonials__testimonials-row {
    background-color: var(--color-green-mint);
    min-height: 842px;
  }
  .testimonials__testimonials-content {
    padding: 85px 0;
    color: black;
    width: 80%;
    margin: auto;
  }

  h2 {
    font-weight: bold;
  }

  i {
    font-size: 3em;
  }

  @media (max-width: 480px) {
    .testimonials__icons-content-container {
      flex-direction: column;
    }
  }
</style>
