<section id="testimonials-section">
  <div class="testimonials-section__icons-row">
    <div class="testimonials-section__icons-content-container">
      <div class="testimonials-section__icons-content">
        <i class="fas fa-leaf"></i>
        <h2>0% Carbone</h2>
        <p>
          Irony jean shorts biodiesel disrupt jianbing tumblr master cleanse
          hella
        </p>
      </div>
      <div class="testimonials-section__icons-content">
        <i class="far fa-smile"></i>
        <h2>Friendly</h2>
        <p>
          marfa hashtag leggings. Pabst hot chicken kale chips fanny pack
          ethical
        </p>
      </div>
      <div class="testimonials-section__icons-content">
        <i class="fas fa-rocket"></i>
        <h2>Boost your business</h2>
        <p>
          marfa hashtag leggings. Pabst hot chicken kale chips fanny pack
          ethical.
        </p>
      </div>
    </div>
  </div>
  <div class="testimonials-section__testimonials-row">
    <div class="testimonials-section__testimonials-content">
      <h1>What They Say</h1>
    </div>
  </div>
</section>

<style>
  .testimonials-section__icons-row {
    background-color: var(--color-green);
    padding: 100px 0px;
  }

  .testimonials-section__icons-content-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .testimonials-section__icons-content {
    display: flex;
    flex-direction: column;
  }

  .testimonials-section__testimonials-row {
    height: 64vh;
    background-color: var(--color-green-mint);
  }
  .testimonials-section__testimonials-content {
    padding-top: 85px;
    color: black;
    width: 80%;
    margin: auto;
  }

  h2 {
    font-weight: bold;
  }

  i {
    font-size: 3em;
  }
</style>
