$primary-color: var(--color-green-army);
$animation-duration: 0.2s;

@mixin label-active() {
  font-size: 1.1rem;
  font-weight: bold;
  transform: translateY(-25px);
}

.form-field {
  display: block;
  margin-bottom: 16px;

  &--is-active {
    .form-field__control {
      &::after {
        border-bottom: 2px solid $primary-color;
        transform: scaleX(150);
      }
    }
    .form-field__label {
      color: $primary-color;
      @include label-active();
    }
  }
}
.form-field__label {
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding-top: 25px;
  position: absolute;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
  cursor: text;
}
.form-field__control {
  background: transparent;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    border-bottom: 2px solid $primary-color;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all $animation-duration;
    width: 1%;
  }
}
.form-field__input,
.form-field__textarea {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 1.1rem;
  margin-top: 24px;
  outline: 0;
  padding: 4px 0;
  width: 100%;
}
// .form-field__textarea {
//   height: 150px;
// }
